{%extends 'base.html' %}
{%block titol%}<span xmlns="http://www.w3.org/1999/html">Productes</span>{%endblock titol%}
{%block content%}

    <div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <span class="pull-left"><a type="button" class="btn btn-info btn-lg text-right" href="{% url 'artista:introduir_artistes'%}"><span class="glyphicon glyphicon-plus"></span> Efagir un nou artista favorit</a></span>
            </div>
        </div>
        {% if artistes %}
            {% for artista in artistes %}
                <li>{{ artista.nom }}</li>
            {% endfor %}
        {% endif %}
    </div>

{%endblock%}